@model OKUL_DBFIRST.Models.Ogrenci

@{
    ViewBag.Title = "Details";
    ViewBag.searchUrl = "/Ogrencis/Search";
}

<h2>Details</h2>

<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ogretmen.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ogretmen.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
